Назва дисципліни: Обробка та аналіз біомедичних даних

Група: БС-83

Студент: Каліновська Б.В.

Лабораторна робота №4

Тема: Перевірка даних на нормальність за допомогою критерію Шапіра-Уілка

Завдання:

1. Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20

In [8]:
#Імпорт бібліотек

import pandas as pd 
import numpy as np 
import scipy.stats as sts

In [9]:
#Нормальний(Гаусовський): random.normal(loc,scale,size) 
                    #loc- Середнє значення ("центр") розподілу,
                    #scale - Стандартне відхилення ("ширина") розподілу,
                    #size - Кількість значень
#Рівномірний: random.normal(low,high,size) 
                    #low - Нижня межа вихідного інтервалу. Усі згенеровані значення >=low (За замовчуванням 0)(необов'язковий),
                    #high - Верхня межа інтервалу виводу. Усі створені значення будуть <=hight (За замовчуванням 1)(необов'язковий),
                    #size - Кількість значень
#Біономінальний: random.binomial(n, p, size)
                    #n - Кількість випробувань n>=0,
                    #p - Ймовірність успіху p>=0 and p<=1,
                    #size - Кількість значень
#Стандартний нормальний: random.standard_normal(size)
                    #size - Кількість значень

data = pd.DataFrame({
    'Var_1(normal)': np.random.normal(loc=10, scale=5, size=20),
    'Var_2(normal)': np.random.normal(loc=5, scale=10, size=20),
    'Var_3(uniform)': np.random.uniform(size=20),
    'Var_4(uniform)': np.random.uniform(size=20),
    'Var_5(binom)': np.random.binomial(n=50, p=0.9, size=20),
    'Var_6(st_normal)': np.random.standard_normal(size=20)
})

data

,Var_1(normal),Var_2(normal),Var_3(uniform),Var_4(uniform),Var_5(binom),Var_6(st_normal)
0,11.287783,-2.947464,0.374615,0.878667,45,0.986099
1,4.395063,1.516413,0.961731,0.614971,44,-0.289722
2,1.752645,10.210850,0.677708,0.342877,45,-0.812718
3,11.058159,18.540111,0.505226,0.637660,47,-0.812340
4,12.627059,29.002000,0.840299,0.540759,43,2.117145
5,9.429867,6.827772,0.083170,0.452943,45,0.207411
6,11.870449,-7.045369,0.921435,0.458848,44,-0.161334
7,14.373706,1.496598,0.008960,0.115932,45,0.325728
8,9.487663,17.126793,0.046996,0.597775,46,-0.062356
9,7.349977,-8.221234,0.460739,0.055431,45,2.053528
10,9.010557,2.158448,0.388088,0.238903,44,-0.813331
11,18.713447,5.755684,0.301528,0.295730,49,0.367796
12,15.014321,-4.454825,0.146696,0.392759,44,1.213340
13,2.926074,6.604054,0.045797,0.386098,46,-1.659698
14,4.654829,6.810961,0.016396,0.453847,46,-0.036438
15,13.039081,6.579301,0.670683,0.257302,47,-0.827248
16,1.922858,-14.377446,0.209476,0.901309,45,0.023076
17,16.350273,-15.277147,0.092147,0.446423,46,0.017420
18,13.411596,1.942471,0.526920,0.397302,44,0.038741
19,19.686934,-9.602184,0.721988,0.078450,45,-0.290863

2. Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних

In [10]:
data = pd.DataFrame({key: sorted(values) for key, values in data.transpose().iterrows()})

In [11]:
#За формулою шукаємо суму x' = 1/n * sum(x')    - сума кожного стовпця
def Value (arr,n):
    x_sum =0
    for i in range(n):
        x_sum +=arr[i]
    return x_sum/n
F_value_1 = {i: Value(data[i], 20) for i in data}

In [12]:
#Шукаємо S^2 за формулою S^2 = sum((x - x')^2 - від кожного значення віднімаємо суму того ж стопця, беремо те що вийшло в квадрат і сумуємо всі значення
def Sq(arr, n, x):
    S2 = 0
    for i in range(n):
        S2 += ((arr[i] - x)**2)
    return S2
S_s2 = {i: Sq(data[i], 20, F_value_1[i]) for i in data}

In [13]:
#Дані з таблиці
a_i = [0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140] 
#За формулою W = 1/S^2 * sum(a_i) * (x_n_i - x_i)
def W (arr, n, S_s2):
    tmp = 0
    for i in range(n//2):
        tmp +=(a_i[i] * (arr[(n-1)-i] - arr[i]))
    return tmp**2 /S_s2

W_val = {i: W(data[i], 20, S_s2[i]) for i in data}
W_f = {i: sts.shapiro(data[i]) for i in data}

print("Практичне значення: W_val = ", W_val)
print(' ')
print("За вбудованою формулою: W_f = ", W_f)

Практичне значення: W_val =  {'Var_1(normal)': 0.9620924362155527, 'Var_2(normal)': 0.9643288420873096, 'Var_3(uniform)': 0.9201765153621755, 'Var_4(uniform)': 0.9574184721716121, 'Var_5(binom)': 0.9073767902097903, 'Var_6(st_normal)': 0.9255761383783799}

За вбудованою формулою: W_f =  {'Var_1(normal)': (0.9620888233184814, 0.5863733291625977), 'Var_2(normal)': (0.9643076062202454, 0.6329837441444397), 'Var_3(uniform)': (0.9202080368995667, 0.1000029668211937), 'Var_4(uniform)': (0.9575665593147278, 0.49645593762397766), 'Var_5(binom)': (0.9072027206420898, 0.05638798326253891), 'Var_6(st_normal)': (0.9255631566047668, 0.1268254816532135)}

3. Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution

In [14]:
headers = ['Variable', 'Statistics', 'Distribution']
new_table_data = pd.DataFrame(columns = headers)
new_table_data

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

4. Занести в стовпчик Variable назви змінних

In [15]:
new_table_data["Variable"] = data.keys()
new_table_data

           Variable Statistics Distribution
0     Var_1(normal)        NaN          NaN
1     Var_2(normal)        NaN          NaN
2    Var_3(uniform)        NaN          NaN
3    Var_4(uniform)        NaN          NaN
4      Var_5(binom)        NaN          NaN
5  Var_6(st_normal)        NaN          NaN

5. Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal"

In [16]:
new_table_data["Distribution"] = [('normal ' if 'normal' in dist else 'non-normal ')
                          for dist in new_table_data["Variable"]]
new_table_data

           Variable Statistics Distribution
0     Var_1(normal)        NaN      normal
1     Var_2(normal)        NaN      normal
2    Var_3(uniform)        NaN  non-normal
3    Var_4(uniform)        NaN  non-normal
4      Var_5(binom)        NaN  non-normal
5  Var_6(st_normal)        NaN      normal

6. Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення]

In [17]:
for i in range (new_table_data.shape[0]):
    norm = new_table_data["Variable"][i]
    if 'normal' in norm:
        new_table_data["Statistics"][i] = f".{data[norm].mean()} [ {data[norm].std()} ]"
new_table_data

           Variable                                   Statistics Distribution
0     Var_1(normal)    .10.418117048391483 [ 5.315276228981505 ]      normal
1     Var_2(normal)   .2.6322893692129026 [ 11.116445855166578 ]      normal
2    Var_3(uniform)                                          NaN  non-normal
3    Var_4(uniform)                                          NaN  non-normal
4      Var_5(binom)                                          NaN  non-normal
5  Var_6(st_normal)  .0.07921166475431987 [ 0.9438370603594531 ]      normal

7. Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%]

In [18]:
for i in range (new_table_data.shape[0]):
    non_normal = new_table_data["Variable"][i]
    if 'normal'not in non_normal:
        new_table_data["Statistics"][i] = f".{data[non_normal].median()} \
        [{data[non_normal].quantile(0.25)}; {data[non_normal].quantile(0.75)}]"

new_table_data

,Variable,Statistics,Distribution
0,Var_1(normal),.10.418117048391483 [ 5.315276228981505 ],normal
1,Var_2(normal),.2.6322893692129026 [ 11.116445855166578 ],normal
2,Var_3(uniform),.0.38135134195152326 [0.08990294615728...,non-normal
3,Var_4(uniform),.0.42186268053483716 [0.28612327536521...,non-normal
4,Var_5(binom),.45.0 [44.0; 46.0],non-normal
5,Var_6(st_normal),.0.07921166475431987 [ 0.9438370603594531 ],normal

8. Зберегти таблицю в пдф форматі

In [27]:
new_table_data = [
   [' ','Variable','Statistics','Distribution'],
   [0, 'Var_1(normal)', '11.086374016186975 [ 3.3513440297487365 ]', 'normal'],
   [1, 'Var_2(normal)', '5.460317003013616 [ 11.447295359608177 ]', 'normal'],
   [2, 'Var_3(uniform)', '0.4991922285575648 [0.228633554933015...', 'non-normal'],
   [3, 'Var_4(uniform)', '0.5018793370836385 [0.368598124356267...', 'non-normal'],
   [4, 'Var_5(binom)', '45.0 [44.0; 46.25]', 'non-normal'],
   [5, 'Var_6(st_normal)', '-0.005477703613525997 [ 1.0741151538091176 ]', 'normal']
]

from reportlab.platypus import SimpleDocTemplate
from reportlab.lib.pagesizes import letter

fileName = 'pdf_Table.pdf'
pdf = SimpleDocTemplate(
    fileName,
    pagesize=letter
)

from reportlab.platypus import Table
table = Table(new_table_data)

from reportlab.platypus import TableStyle
from reportlab.lib import colors
#Рамка
ts = TableStyle(
    [
    ('BOX',(0,0),(-1,-1),2,colors.black), #Зовнішня рамка
    ('LINEBEFORE',(0,0),(1,-1),2,colors.black), #Вертикальні лінії
    ('LINEABOVE',(0,0),(-1,1),2,colors.black), #Горизонтальні лінії
    ('GRID',(0,0),(-1,-1),2,colors.black), #Сітка в середині
    ]
)
table.setStyle(ts)
elems = []
elems.append(table)
pdf.build(elems)